In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('Dataset/train.csv')
test = pd.read_csv('Dataset/test.csv')

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
drop = ['Name', 'Ticket', 'Cabin']
train['Sex'] = train['Sex'].replace({'male':0, 'female':1})

C:\Users\Rosha\AppData\Local\Temp\ipykernel_17424\1327485014.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train['Sex'] = train['Sex'].replace({'male':0, 'female':1})

In [6]:
train.Embarked.value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [7]:
train.Embarked = train.Embarked.replace({'S': 0, 'C':1, 'Q':2})

C:\Users\Rosha\AppData\Local\Temp\ipykernel_17424\4090572236.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train.Embarked = train.Embarked.replace({'S': 0, 'C':1, 'Q':2})

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    float64
dtypes: float64(3), int64(6), object(3)
memory usage: 83.7+ KB

In [9]:
train['Survived'].value_counts(normalize = True)

Survived
0    0.616162
1    0.383838
Name: proportion, dtype: float64

In [10]:
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
 train.drop(columns = drop, inplace = True)
corr =train.corr()
corr

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
PassengerId,1.000000,-0.005007,-0.035144,-0.042939,0.036847,-0.057527,-0.001652,0.012658,-0.030555
Survived,-0.005007,1.000000,-0.338481,0.543351,-0.077221,-0.035322,0.081629,0.257307,0.108669
Pclass,-0.035144,-0.338481,1.000000,-0.131900,-0.369226,0.083081,0.018443,-0.549500,0.043835
Sex,-0.042939,0.543351,-0.131900,1.000000,-0.093254,0.114631,0.245489,0.182333,0.118593
Age,0.036847,-0.077221,-0.369226,-0.093254,1.000000,-0.308247,-0.189119,0.096067,0.012186
SibSp,-0.057527,-0.035322,0.083081,0.114631,-0.308247,1.000000,0.414838,0.159651,-0.060606
Parch,-0.001652,0.081629,0.018443,0.245489,-0.189119,0.414838,1.000000,0.216225,-0.079320
Fare,0.012658,0.257307,-0.549500,0.182333,0.096067,0.159651,0.216225,1.000000,0.063462
Embarked,-0.030555,0.108669,0.043835,0.118593,0.012186,-0.060606,-0.079320,0.063462,1.000000

In [ ]:
sns.heatmap(corr, annot = True)

In [ ]:
train.isna().sum()

In [ ]:
avg_age = train['Age'].mean()
train['Age'].replace({np.nan: avg_age}, inplace = True)
emb = train.Embarked.mean()
train.Embarked.replace({np.nan: emb}, inplace = True)

In [ ]:
X= train.drop(columns = 'Survived')
Y = train.Survived

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,  y_test = train_test_split(X, Y, test_size=0.3, random_state=123)

In [ ]:
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV

In [ ]:
penalty = 'l1'
solver = 'saga'
lr = LogisticRegression(random_state=123, penalty=penalty, solver= solver, max_iter=10000)

In [ ]:
lr.fit(x_train, y_train)
yhat = lr.predict(x_test)
print(len(yhat))
test

In [ ]:
from sklearn.metrics import  accuracy_score, confusion_matrix,ConfusionMatrixDisplay, precision_recall_fscore_support

In [ ]:
accuracy_score(y_test, yhat)

In [ ]:
precision, recall, f1score, support = precision_recall_fscore_support(y_test, yhat)
print(f"Precision:{precision}\n Recall:{recall}\nf1score:{f1score}\n Support:{support}")

In [ ]:
cf = confusion_matrix(y_test, yhat)

In [ ]:
disp = ConfusionMatrixDisplay(cf)
disp.plot()

In [ ]:
test.info()

In [ ]:
test['Sex'] = test['Sex'].replace({'male':0, 'female':1})
test.Embarked = test.Embarked.replace({'S': 0, 'C':1, 'Q':2})

In [ ]:
test.isna().sum()

In [ ]:
test.drop(columns = drop, inplace = True)

In [ ]:
test.describe()

In [ ]:
test.Fare

In [ ]:
avg_age = test.Age.mean()
test.Age.replace({np.nan:avg_age}, inplace = True)

In [ ]:
avg_fare = test.Fare.mean()

In [ ]:
test.Fare.replace({np.nan:avg_fare}, inplace = True)
test

In [ ]:
y_hat = lr.predict(test)
len(y_hat)

In [ ]:
# test_f = pd.DataFrame({'PassengerID' : test['PassengerId'], 'Survived' : y_hat})

# test_f.to_csv('Dataset/train_f.csv', index= False)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()

In [ ]:
dtc.fit(x_train, y_train)

In [ ]:
yhat_dtc_train = dtc.predict(x_test)

In [ ]:
accuracy_score(yhat_dtc_train, y_test)
precision_recall_fscore_support(yhat_dtc_train, y_test)

In [ ]:
yhat_dtc_test = dtc.predict(test)

In [ ]:
params_grid = {
    'criterion': ['gini', 'entropy'],
    'max_depth': [5, 10, 50, 100],
    'min_samples_leaf':[1, 2, 5, 10]
}

In [ ]:
from sklearn.model_selection import GridSearchCV
gs = GridSearchCV(estimator = dtc, 
                        param_grid = params_grid, 
                        scoring='f1',
                        cv = 5, verbose = 1)
gs.fit(x_train, y_train)
yhat = gs.predict(x_test)

In [ ]:
gs.best_params_

In [ ]:
precision_recall_fscore_support(yhat, y_test)

In [ ]:
accuracy_score(yhat, y_test)

In [ ]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(x_train, y_train)

In [ ]:
svc_yhat = svc.predict(x_test)

In [ ]:
precision_recall_fscore_support(y_test, svc_yhat)

In [ ]:
accuracy_score(y_test, svc_yhat)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier(n_neighbors=)
knn.fit(x_train, y_train)
knn_yhat = knn.predict(x_test)

In [ ]:
precision_recall_fscore_support(knn_yhat, y_test)

In [ ]:
accuracy_score(knn_yhat, y_test)

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
params = {
    'n_estimators':[1, 10, 100, 1000],
    'learning_rate':[0.5, 1.0, 1.5],
    'max_depth': [1, 10, 50]
}
gbc = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,
    max_depth=1, random_state=0)
gbc.fit(x_train, y_train)